<!DOCTYPE html>
<html lang="%%configs.lan%%" dir="%%configs.dir%%">
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="public/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="public/styles/dashboard.css" />
  </head>
  <body>
    <div class="container dashboard-container">
      <div class="navigation">
        <a class="fs-h4 button button-white" href="/">%%navItems.home%%</a>
        <a class="fs-h4 button button-white" href="/settings">%%navItems.settings%%</a>
        <a class="fs-h4 button button-white" href="/user/logout">%%navItems.logout%%</a>
      </div>

      <form class="controllers-form surface">
        <div class="field">
          <label for="branch">%%forms_labels.branch%%:</label>
          <select id="branch" name="branch"></select>
        </div>
        <div class="field">
          <label for="barber">%%forms_labels.barber%%:</label>
          <select id="barber" name="barber"></select>
        </div>
        <div class="field">
          <label for="date">%%forms_labels.date%%:</label>
          <input type="date" id="date" name="date" />
        </div>
      </form>

      <div class="surface table-wrapper">
        <div id="timeLine"></div>
        <table class="table">
          <tbody id="table"></tbody>
        </table>
      </div>
    </div>

    <div id="setBusyForm" class="set-as-busy-form fs-h4 hidden">
      <div class="form-header"><span onclick="setBusyForm.close()" class="material-symbols--close"></span></div>
      <div class="report m-b-4">
        %%forms_labels.date%%: <span class="date"></span><br />
        %%forms_labels.barber%%: <span class="barber"></span><br />
        %%forms_labels.branch%%: <span class="branch"></span><br />
      </div>
      <button onclick="setBusyForm.setBusy()" class="button button-white">%%buttons.im_busy%%</button>
      <button onclick="setBusyForm.showClientInfoForm()" class="button button-white">%%buttons.i_have_an_appointment%%</button>
      <form action="javascript:setBusyForm.book()" id="clientInfoForm" class="clientInfoForm hidden">
        <div class="field"><label for="">%%forms_labels.client_name%%</label><input type="text" name="clientName" required /></div>
        <div class="field"><label for="">%%forms_labels.client_phone%%</label><input type="text" name="phoneNumber" required /></div>
        <button class="button button-white" type="submit">%%buttons.book%%</button>
      </form>
    </div>
    <div id="overlay" class="overlay hidden"></div>

    <template id="appointmant-info-template">
      <div style="display: flex; gap: 1rem; align-items: baseline">
        <div class="appointment">
          %%forms_labels.name%%: {{clientName}}.<br />
          %%forms_labels.phone%%: {{phoneNumber}}.<br />
          {{code}}.<br />
        </div>
        <div style="display: flex; flex-direction: column" class="hidden">
          <a href="wa.me/55" class="button button-white wa-button">contact</a><a href="/data/reject/{{id}}" class="button button-white">reject</a>
        </div>
      </div>
    </template>
    <template id="free-time-template">
      <button class="button button-white" onclick="setBusyForm.show(this)">%%buttons.set_as_busy%%</button>
    </template>
    <template id="busy-time-template">
      <div class="busy-time">
        <span>%%tags.busy%%</span> <button class="button button-white" onclick="setBusyForm.free(this)">%%buttons.set_as_free%%</button>
      </div>
    </template>
    <script src="public/scripts/dashboard.js"></script>
  </body>
</html>
