<!DOCTYPE html>
<html lang="%%i18n.configs.lan%%" dir="%%i18n.configs.dir%%">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="public/styles/style.css" /> -->
    <link rel="stylesheet" href="public/styles/style.css" />
    <!-- <link rel="stylesheet" href="public/styles/main.css" /> -->
    <link rel="stylesheet" href="public/styles/main.css" />

    <style>
      :root {
        /* hsl(264, 57%, 28%) */
        /* hsl(316, 26%, 41%)
         */
        --clr-primary-500-h: 264;
        --clr-primary-500-s: 57%;
        --clr-primary-500-l: 28%;

        --clr-primary-300-h: 316;
        --clr-primary-300-s: 26%;
        --clr-primary-300-l: 41%;

        --clr-primary-300: #824d74;
        --clr-primary-500: #401f71;
        --clr-primary-700: #000;
        --clr-primary-700: #261344; /* TODO darken this */
        --clr-primary-700: #000;

        --clr-accent-300: #fdaf7b; /* TODO lighten this */
        --clr-accent-500: #fdaf7b;
        --clr-accent-700: #be7b72;

        --ff-primary: "Be Vietman Pro", sans-serif;
      }
      .hero-image-container {
        background-image: url(%%media.heroImage%%), url(%%media.heroImage%%);
      }
    </style>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-container">
          <!-- LOGO -->
          <a href="#" role="link" aria-label="#" class="main-logo">
            <img id="img-logo" src="%%media.logo%%" alt="logo" />
          </a>
          <!-- HAMBURGER -->
          <input class="hidden" type="checkbox" id="hamburger-checkbox" />
          <label for="hamburger-checkbox" id="hamburger-label">
            <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" width="21" height="22">
              <path
                fill="#242D52"
                fill-rule="evenodd"
                d="M17.925.747l2.828 2.828L13.328 11l7.425 7.425-2.828 2.828-7.425-7.425-7.425 7.425-2.828-2.828L7.671 11 .247 3.575 3.075.747 10.5 8.171 17.925.747z"
              />
            </svg>
            <svg class="icon-hamburger" xmlns="http://www.w3.org/2000/svg" width="25" height="22">
              <g fill="#242D52" fill-rule="evenodd"><path d="M0 0h25v4H0zM0 7h25v4H0zM0 14h25v4H0z" /></g>
            </svg>
          </label>
          <label for="hamburger-checkbox" id="hamburger-second-label"></label>
          <!-- MENU -->
          <nav class="main-nav">
            <a href="#appointment-section" class="main-nav-item">%%i18n.navItems.appointment%%</a>
            <a href="#shop-section" class="main-nav-item">%%i18n.navItems.shop%%</a>
            <a href="#map-section" class="main-nav-item">%%i18n.navItems.map%%</a>
            <a href="/user/login" class="main-nav-item">%%i18n.navItems.dashboard%%</a>
            <!-- <a href="/user/logout" class="main-nav-item">log out</a> -->
            <span id="a-phone"><a href="tel:552 587 75 31">552 587 75 31</a></span>
          </nav>
        </div>
      </div>
    </header>
    <div id="welcome-msg" class="hidden msg welcome-msg container msg-tip">
      <p>%%i18n.msgs.new_user_msg%%</p>
    </div>
    <main>
      <!-- Hero section -->
      <section class="hero-section">
        <!-- TODO
				What could the hero image be?
				Provide a set of hero images along with ideas to help users upload their images.
				ideas:
				- Barber in Action.
				- image of the interior of the barbershop, highlighting the cozy and welcoming atmosphere.
				- Close-up shots of barber tools.
				- Barber Shop Sign.
				- A stylish Haircut.
			-->
        <div class="hero-image-container"></div>
        <div class="hero-msg-con even-columns">
          <h1 class="fs-h1">%%content.header%%</h1>
          <p class="fs-subheader">%%content.sub_header%%</p>
        </div>
      </section>
      <!-- Business Info Section -->
      <section class="business-info-section">
        <div class="container two-columns m-b-2">
          <div class="m-b-2">
            <h3 class="text-center fw-bold p-b-sm">%%i18n.main_content.businessinfo.title1%%</h3>
            <p id="p-address" class="fs-small">Gülük Mah. Yunus Emre Cad. 60/9 MELİKGAZİ/KAYSERİ</p>
          </div>
          <div class="divider"></div>
          <div class="m-b-2">
            <h3 class="text-center fw-bold p-b-sm">%%i18n.main_content.businessinfo.title2%%</h3>
            <p id="p-weekschedule" class="fs-small">Mon to Fri: 9.00am - 8.30pm <br />Sat: 10.00am - 6.30pm <br />Sun: Closed</p>
          </div>
        </div>
      </section>
      <!-- Our Services -->
      <section class="services-section">
        <div class="container"></div>
      </section>
      <!-- Appointment Section -->
      <section id="appointment-section" class="appointment-section">
        <h2 class="fs-section-title m-b-3 text-center">%%i18n.main_content.appointmentsection.title%%</h2>
        <div class="container">
          <!-- TODO
						Choose worker and time using a dropbox.
						rewrite js for the form and be sure of the sending form of the data.
						make sure fetching data is working and redering the form.
						send only naccery data.
					-->

          <form action="javascript:send()" class="form" id="appointmantform">
            <!--  -->
            <fieldset class="fieldset">
              <div class="field">
                <label class="field-label" for="name">%%i18n.forms_labels.name%%</label>
                <input class="field-input" id="name" type="text" name="name" required maxlength="23" />
              </div>

              <div class="field">
                <label class="field-label" for="phone">%%i18n.forms_labels.phone%%</label>
                <input
                  class="field-input"
                  id="phone"
                  type="tel"
                  name="phone"
                  required
                  pattern="^[0-9]+$"
                  maxlength="14"
                  minlength="8"
                  title="enter only numbers to this field"
                />
                <small class="field-note">5xx xxx xx xx</small>
              </div>
            </fieldset>

            <!--  -->
            <fieldset class="fieldset">
              <div class="field">
                <label class="field-label" for="branch-input">%%i18n.forms_labels.branch%%</label>
                <select class="field-input" name="branch" id="branch-input" required></select>
              </div>
              <div class="field">
                <label class="field-label" for="barber-input">%%i18n.forms_labels.barber%%</label>
                <select class="field-input" name="barber" id="barber-input" required></select>
              </div>
            </fieldset>

            <!--  -->
            <fieldset class="fieldset">
              <div class="field">
                <label class="field-label" for="date-input">%%i18n.forms_labels.date%%</label>
                <select class="field-input" id="date-input" name="date" required></select>
              </div>
              <div class="field">
                <label class="field-label" for="time-input">%%i18n.forms_labels.time%%</label>
                <select class="field-input" name="time" id="time-input" required></select>
              </div>
            </fieldset>
            <div class="notification"></div>
            <input type="submit" class="submit-button" value="Book " />
          </form>
        </div>
      </section>
      <!-- Gallery Section  (OUR SHOP IN IMAGES) -->

      <section class="gallery-section">
        <h2 class="fs-section-title m-b-3 text-center">%%i18n.main_content.gallerysection.title%%</h2>
        <div id="carousel-con" class="x-carousel">
          
        </div>
      </section>

      <!-- Shop -->
      <section id="shop-section" class="shop-section">
        <h2 class="fs-section-title m-b-2 text-center">%%i18n.main_content.shopsection.title%%</h2>
        <p class="section-description m-b-3 text-center fs-small gray">%%i18n.main_content.shopsection.note%%</p>
        <div class="container products-container">
          <div class="full-screen-cover">    
        </div>
      </section>
      <!-- Contact Us Section -->
      <section id="map-section" class="map-section">
        <h2 class="fs-section-title m-b-3 text-center">%%i18n.main_content.mapsection.title%%</h2>
        <div class="container">
          <iframe
            id="map"
            height="450"
            style="border: 0; width: 100%"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src=""
          >
          </iframe>
        </div>
      </section>
      <!-- Contact Us Section -->
      <section class="contact-section">
        <h2 class="fs-section-title m-b-3 text-center">%%i18n.main_content.contactsection.title%%</h2>
        <div class="container contact-section-con">
          <div>
            <p>
              %%i18n.forms_labels.phone%%: <span id="p-phone"><a href="tel:55"></a></span>
            </p>
            <p>%%i18n.forms_labels.email%%: <span id="p-email">mail@busines.com</span></p>
          </div>
        </div>
      </section>
    </main>
    <div id="overlay" class="overlay hidden">Press again to close</div>
    <footer>
      <div class="footer-section-2">
        <div class="footer container">
          <p id="p-businessname">&copy; Business name</p>
          <p>Powered by: thebarberswebsite.com</p>
        </div>
      </div>
    </footer>

    <template id="appointmant-info-msg-template">
      <div class="msg msg-ok">
        <p>%%i18n.msgs.appointmant_confirmation%%</p>
      </div>
    </template>
    <template id="appointmant-fail-msg-template">
      <div class="msg msg-warning">
        <p>%%i18n.msgs.appointmant_fail%%</p>
      </div>
    </template>

    <template id="error-msg-template">
      <div class="msg msg-error">
        <p>%%i18n.msgs.appointmant_error%%</p>
      </div>
    </template>

    <template id="product-template">
      <div class="product-card">
        <div class="wrapper">
          <img src="{{image}}" alt="{{title}}" />
          <h3>{{title}}</h3>
          <p class="price">{{price}}</p>
          <p class="description">{{description}}</p>
          <a href="{{link}}" class="button secondary-button">Buy</a>
        </div>
      </div>
    </template>
    <!-- <script type="text/javascript" src="public/scripts/main.js"></script> -->
    <script type="text/javascript" src="public/scripts/main.js"></script>
  </body>
</html>
