<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/styles/style.css" />
    <link rel="stylesheet" href="public/styles/loginsignin.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <h1 class="fs-big fw-bold text-center">Set new password</h1>

        <form action="javascript:send()" class="form" id="signup-form">
          <div class="field"><input type="password" name="password" placeholder=" Password" required id="password" /></div>
          <div class="field"><input type="password" name="passwordconfirmation" placeholder=" Confirm Password" id="password-again" required /></div>
          <div class="field text-center hidden" id="msg-password-reset-success">Your passowrd was successfully reset.</div>
          <div class="field text-center hidden" id="msg-password-reset-field">Field to reset password. Please call support for help.</div>
          <div class="field button"><input type="submit" value="Set" /></div>
        </form>
      </div>
    </div>

    <script>
      const send = async function () {
        const resetToken = getResetToken();
        if (passCheck()) {
          const response = await fetch(`/user/resetpassword/${resetToken}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(gatherFormData()),
          });

          if (response.status == 200) {
            document.getElementById("msg-password-reset-success").classList.remove("hidden");
          } else if (response.status >= 400) {
            document.getElementById("msg-password-reset-field").classList.remove("hidden");
          }
        }
      };

      const gatherFormData = function () {
        const formData = new FormData(document.getElementById("signup-form"));
        return {
          password: formData.get("password"),
          passwordConfirmation: formData.get("passwordconfirmation"),
        };
      };

      const getResetToken = function () {
        const url = window.location.href;
        const urlParts = url.split("/");
        const resetTokenIndex = urlParts.indexOf("resetpassword");
        let resetToken = "";

        if (resetTokenIndex !== -1 && resetTokenIndex < urlParts.length - 1) {
          resetToken = urlParts[resetTokenIndex + 1];
        }

        return resetToken;
      };

      const passCheck = () => {
        const pass1 = document.getElementById("password").value;
        const pass2 = document.getElementById("password-again").value;
        if (pass1 && pass1 === pass2) return true;
        return false;
      };

      document.getElementById("password-again").addEventListener("change", passCheck);
    </script>
  </body>
</html>
