<!DOCTYPE html>
<html lang="%%configs.lang%%" dir="%%configs.dir%%">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="public/styles/style.css" />
    <link rel="stylesheet" href="public/styles/settings.css" />
  </head>
  <body>
    <div class="container">
      <form action="javascript:send()" class="form" id="settings-form">
        <!-- User Info -->
        <label class="section-label fs-big m-b-3 dis-b">%%forms_labels.User Info%%<input type="checkbox" class="hidden fold-checkbox" /></label>

        <fieldset class="fieldset foldable-section">
          <div class="field m-b-2">
            <label for="username">%%forms_labels.Username%%</label><input type="text" id="username" name="username" disabled />
          </div>
          <div class="field m-b-2">
            <label for="password">%%forms_labels.Password%%</label><input type="password" id="password" name="password" required />
          </div>
          <div class="field m-b-2"><label for="email">%%forms_labels.Email%%</label><input type="Email" id="email" name="email" required /></div>
          <div class="field m-b-2"><label for="phone">%%forms_labels.Phone%%</label><input type="tel" id="phone" name="phone" required /></div>
        </fieldset>
        <!-- Business info -->
        <label class="section-label fs-big m-b-3 dis-b">%%forms_labels.Business Info%%<input type="checkbox" class="hidden fold-checkbox" /></label>
        <fieldset class="fieldset foldable-section">
          <div class="field m-b-2">
            <label for="businessName">%%forms_labels.Business Name%%</label><input type="text" id="businessName" name="businessName" />
          </div>
          <div class="field m-b-2">
            <label for="branchesnumber">%%forms_labels.Branches Number%%</label><input type="number" id="branchesnumber" min="1" value="1" />
          </div>
          <!-- Branches info -->
          <h3 class="fs-h4 m-b-3 fw-bold">%%forms_labels.Branches%%</h3>
          <div class="branches-container">
            <!-- Main Branch -->
            <fieldset class="fieldset branch">
              <div class="field m-b-2">
                <label>%%forms_labels.Name%%</label><input type="text" name="branches.name" value="Main Branch" required />
              </div>
              <div class="field m-b-2"><label>%%forms_labels.Phone%%</label><input type="tel" name="branches.phone" /></div>
              <label class="section-label fw-semi-bold m-b-3 dis-b"
                >%%forms_labels.Address%%<input type="checkbox" class="hidden fold-checkbox"
              /></label>
              <fieldset class="fieldset foldable-section">
                <div class="field m-b-2"><label>%%forms_labels.Country%%</label><input type="text" name="branches.country" /></div>
                <div class="field m-b-2"><label>%%forms_labels.City%%</label><input type="text" name="branches.city" /></div>
                <div class="field m-b-2"><label>%%forms_labels.District%%</label><input type="text" name="branches.district" /></div>
                <div class="field m-b-2"><label>%%forms_labels.Neighborhood%%</label><input type="text" name="branches.neighborhood" /></div>
                <div class="field m-b-2"><label>%%forms_labels.Street%%</label><input type="text" name="branches.street" /></div>
                <div class="field m-b-2"><label>%%forms_labels.Full address%%</label><input type="text" name="branches.fulladdress" /></div>
              </fieldset>
              <!-- Employees -->
              <label class="section-label fw-semi-bold m-b-3 dis-b"
                >%%forms_labels.Employees%%<input type="checkbox" class="hidden fold-checkbox"
              /></label>
              <fieldset class="fieldset foldable-section">
                <div class="fields-list-container">
                  <div class="fields-list employees-fields-list" id="employees-fields-list">
                    <fieldset class="fieldset employee m-b-3">
                      <div class="field m-b-2"><label>%%forms_labels.Name%%</label><input type="text" name="branches.employees.name" required /></div>
                      <div class="field m-b-2"><label>%%forms_labels.Phone%%</label><input type="tel" name="branches.employees.phone" /></div>
                      <div class="field m-b-2">
                        <label>%%forms_labels.Available%%</label><input type="checkbox" name="branches.employees.avaliable" checked />
                      </div>
                      <button onclick="this.parentNode.remove()" class="button delete-button" type="button">%%buttons.Delete this employee%%</button>
                    </fieldset>
                  </div>
                  <template id="employee-field-template">
                    <fieldset class="fieldset employee m-b-3">
                      <div class="field m-b-2"><label>%%forms_labels.Name%%</label><input type="text" name="branches.employees.name" required /></div>
                      <div class="field m-b-2"><label>%%forms_labels.Phone%%</label><input type="tel" name="branches.employees.phone" /></div>
                      <div class="field m-b-2">
                        <label>%%forms_labels.Available%%</label><input type="checkbox" name="branches.employees.avaliable" checked />
                      </div>
                      <button onclick="this.parentNode.remove()" class="button delete-button" type="button">%%buttons.Delete this employee%%</button>
                    </fieldset>
                  </template>
                  <button class="button button-green" type="button" onclick="render('employee-field-template', this.parentNode.children[0])">
                    %%buttons.Add employee%%
                  </button>
                </div>
              </fieldset>
              <!-- Work hours -->
              <label class="section-label fw-semi-bold m-b-3 dis-b"
                >%%forms_labels.Work Hours%%<input type="checkbox" class="hidden fold-checkbox"
              /></label>
              <fieldset class="fieldset foldable-section">
                <div class="field m-b-2">
                  <label>%%forms_labels.Appointment duration%%</label><input type="number" name="branches.shortestAppointmant" value="30" required />
                </div>
                <div class="field m-b-2">
                  <label>%%forms_labels.Weekend Days%%:</label>
                  <div class="weekdays-selector">
                    <label><input type="checkbox" name="branches.weekend" value="1" />%%forms_labels.Mon%%</label>
                    <label><input type="checkbox" name="branches.weekend" value="2" />%%forms_labels.Tue%%</label>
                    <label><input type="checkbox" name="branches.weekend" value="3" />%%forms_labels.Wed%%</label>
                    <label><input type="checkbox" name="branches.weekend" value="4" />%%forms_labels.Thu%%</label>
                    <label><input type="checkbox" name="branches.weekend" value="5" />%%forms_labels.Fri%%</label>
                    <label><input type="checkbox" name="branches.weekend" value="6" />%%forms_labels.Sat%%</label>
                    <label><input type="checkbox" name="branches.weekend" value="0" />%%forms_labels.Sun%%</label>
                  </div>
                </div>
                <!-- xxxxx -->
                <h3 class="fs-h4 fw-semi-bold">%%forms_labels.Weekdays%%</h3>
                <div class="weekdays">
                  <div class="field aday m-b-3">
                    <label class="dis-b">%%forms_labels.Monday%%</label>
                    <fieldset class="fs-small">
                      <div class="field">
                        <label>%%forms_labels.Opening%%:</label>
                        <input type="time" name="branches.openinghour" value="09:00" required />
                      </div>
                      <div class="field">
                        <label>%%forms_labels.Closing%%:</label>
                        <input type="time" name="branches.closeinghour" value="17:00" required />
                      </div>
                    </fieldset>
                  </div>
                  <div class="field aday m-b-3">
                    <label>%%forms_labels.Tuesday%%</label>
                    <fieldset class="fs-small">
                      <div class="field">
                        <label>%%forms_labels.Opening%%:</label>
                        <input type="time" name="branches.openinghour" value="09:00" required />
                      </div>
                      <div class="field">
                        <label>%%forms_labels.Closing%%:</label>
                        <input type="time" name="branches.closeinghour" value="17:00" required />
                      </div>
                    </fieldset>
                  </div>
                  <div class="field aday m-b-3">
                    <label>%%forms_labels.Wednesday%%</label>
                    <fieldset class="fs-small">
                      <div class="field">
                        <label>%%forms_labels.Opening%%:</label>
                        <input type="time" name="branches.openinghour" value="09:00" required />
                      </div>
                      <div class="field">
                        <label>%%forms_labels.Closing%%:</label>
                        <input type="time" name="branches.closeinghour" value="17:00" required />
                      </div>
                    </fieldset>
                  </div>
                  <div class="field aday m-b-3">
                    <label>%%forms_labels.Thursday%%</label>
                    <fieldset class="fs-small">
                      <div class="field">
                        <label>%%forms_labels.Opening%%:</label>
                        <input type="time" name="branches.openinghour" value="09:00" required />
                      </div>
                      <div class="field">
                        <label>%%forms_labels.Closing%%:</label>
                        <input type="time" name="branches.closeinghour" value="17:00" required />
                      </div>
                    </fieldset>
                  </div>
                  <div class="field aday m-b-3">
                    <label>%%forms_labels.Friday%%</label>
                    <fieldset class="fs-small">
                      <div class="field">
                        <label>%%forms_labels.Opening%%:</label>
                        <input type="time" name="branches.openinghour" value="09:00" required />
                      </div>
                      <div class="field">
                        <label>%%forms_labels.Closing%%:</label>
                        <input type="time" name="branches.closeinghour" value="17:00" required />
                      </div>
                    </fieldset>
                  </div>
                  <div class="field aday m-b-3">
                    <label>%%forms_labels.Saturday%%</label>
                    <fieldset class="fs-small">
                      <div class="field">
                        <label>%%forms_labels.Opening%%:</label>
                        <input type="time" name="branches.openinghour" value="09:00" required />
                      </div>
                      <div class="field">
                        <label>%%forms_labels.Closing%%:</label>
                        <input type="time" name="branches.closeinghour" value="17:00" required />
                      </div>
                    </fieldset>
                  </div>
                  <div class="field aday m-b-3">
                    <label>%%forms_labels.Sunday%%</label>
                    <fieldset class="fs-small">
                      <div class="field">
                        <label>%%forms_labels.Opening%%:</label>
                        <input type="time" name="branches.openinghour" value="09:00" required />
                      </div>
                      <div class="field">
                        <label>%%forms_labels.Closing%%:</label>
                        <input type="time" name="branches.closeinghour" value="17:00" required />
                      </div>
                    </fieldset>
                  </div>
                </div>

                <h3 class="fs-h4 fw-semi-bold">%%forms_labels.Breaks%%</h3>

                <div class="breaks-list-container">
                  <div class="field break m-b-2">
                    <div>
                      <label for="">%%forms_labels.break%%</label>
                      <button onclick="this.parentNode.remove()" class="button delete-button" type="button">&times;</button>
                    </div>
                    <div>
                      <div class="field m-b-2">
                        <label>%%forms_labels.Start%%:</label>
                        <input type="time" name="branches.breaks.start" value="12:30" />
                      </div>
                      <div class="field m-b-2">
                        <label>%%forms_labels.End%%:</label>
                        <input type="time" name="branches.breaks.end" value="13:30" />
                      </div>
                      <div class="field m-b-2">
                        <label>%%forms_labels.for%%:</label>
                        <select name="branches.breaks.for" class="assaigning-break">
                          <option value="everyday">%%forms_labels.Every Day%%</option>
                          <option value="1">%%forms_labels.Monday%%</option>
                          <option value="2">%%forms_labels.Tuesday%%</option>
                          <option value="3">%%forms_labels.Wednesday%%</option>
                          <option value="4">%%forms_labels.Thursday%%</option>
                          <option value="5">%%forms_labels.Friday%%</option>
                          <option value="6">%%forms_labels.Saturday%%</option>
                          <option value="0">%%forms_labels.Sunday%%</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <template id="break-item-template">
                    <div class="field break m-b-2">
                      <div>
                        <label for="">%%forms_labels.break%%</label>
                        <button onclick="this.parentNode.remove()" class="button delete-button" type="button">&times;</button>
                      </div>
                      <div>
                        <div class="field m-b-2">
                          <label>%%forms_labels.Start%%:</label>
                          <input type="time" name="branches.breaks.start" value="12:30" />
                        </div>
                        <div class="field m-b-2">
                          <label>%%forms_labels.End%%:</label>
                          <input type="time" name="branches.breaks.end" value="13:30" />
                        </div>
                        <div class="field m-b-2">
                          <label>%%forms_labels.for%%:</label>
                          <select name="branches.breaks.for" class="assaigning-break">
                            <option value="everyday">%%forms_labels.Every Day%%</option>
                            <option value="1">%%forms_labels.Monday%%</option>
                            <option value="2">%%forms_labels.Tuesday%%</option>
                            <option value="3">%%forms_labels.Wednesday%%</option>
                            <option value="4">%%forms_labels.Thursday%%</option>
                            <option value="5">%%forms_labels.Friday%%</option>
                            <option value="6">%%forms_labels.Saturday%%</option>
                            <option value="0">%%forms_labels.Sunday%%</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </template>
                </div>
                <button class="button button-green" type="button" onclick="render2('break-item-template', '.breaks-list-container')">
                  %%buttons.Add break%%
                </button>
                <!-- xxxxx -->
                <label class="fw-semi-bold dis-b" for="holidays">%%forms_labels.Holidays%%</label>
                <div class="holidays-container">
                  <div class="holiday field m-b-2">
                    <div>
                      <button onclick="this.parentNode.remove()" class="button delete-button" type="button">&times;</button>
                    </div>
                    <input type="date" name="branches.holidays" />
                  </div>
                </div>
                <button class="button button-green" type="button" onclick="render2('holydays-input-template', '.holidays-container')">
                  %%buttons.Add holiday%%
                </button>
                <template id="holydays-input-template">
                  <div class="holiday field m-b-2">
                    <div>
                      <button onclick="this.parentNode.remove()" class="button delete-button" type="button">&times;</button>
                    </div>
                    <input type="date" name="branches.holidays" />
                  </div>
                </template>
              </fieldset>
              <button onclick="this.parentNode.remove()" class="button delete-button" type="button">%%buttons.Delete this branch%%</button>
            </fieldset>
          </div>
        </fieldset>
        <!-- Media & Content -->
        <label class="section-label fs-big m-b-3 dis-b">%%forms_labels.Media & Content%%<input type="checkbox" class="hidden fold-checkbox" /></label>
        <fieldset class="fieldset foldable-section">
          <h3 class="fs-h4 m-b-3">%%forms_labels.Images%%</h3>
          <fieldset class="fieldset">
            <table>
              <tbody id="images-table">
                <tr>
                  <td>
                    <label class="button button-blue"
                      >%%buttons.Change%%
                      <input class="hidden" type="file" name="logo" accept="image/jpeg, image/png, image/webp" onchange="handleImageChange(this)" />
                    </label>
                  </td>
                  <td>
                    <img class="preview-img" src="public/images/default/logo.svg" loading="lazy" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="button button-blue"
                      >%%buttons.Change%%
                      <input class="hidden" type="file" name="cover" accept="image/jpeg, image/png, image/webp" onchange="handleImageChange(this)" />
                    </label>
                  </td>
                  <td>
                    <img class="preview-img" src="public/images/default/hero.webp" loading="lazy" />
                  </td>
                </tr>
              </tbody>
            </table>
            <button id="addimagebutton" class="button button-green" type="button" onclick="addGalleryImage()">%%buttons.Add gallery image%%</button>
            <template id="gallery-img-row-template">
              <tr>
                <td>
                  <input class="hidden" type="file" name="img" accept="image/jpeg, image/png, image/webp" />
                  <button class="button delete-button" type="button" onclick="handleImageDelete(this)">%%buttons.Delete%%</button>
                </td>
                <td>
                  <img class="preview-img" src="" loading="lazy" />
                </td>
              </tr>
            </template>
          </fieldset>
          <h3 class="fs-h4 m-b-3">%%forms_labels.Other%%</h3>
          <fieldset class="fieldset">
            <div class="field m-b-2">
              <label>%%forms_labels.Languages%%</label>
              <div class="weekdays-selector languages-selector">
                <template id="language-checkbox-template">
                  <label
                    ><input class="lang-checkbox" type="checkbox" name="userMediaAndContent.media.languages" value="en" /><span class="content-span"
                      >en</span
                    ></label
                  >
                </template>
              </div>
            </div>
            <div class="field m-b-2"><label for="zzz">%%forms_labels.Theme%%</label><input type="color" id="zzz" name="zzz" disabled /></div>
          </fieldset>
          <h3 class="fs-h4 m-b-3">%%forms_labels.Content%%</h3>
          <div class="content-fieldsets-container"></div>
          <template id="content-fieldset-template">
            <fieldset class="fieldset">
              <div class="m-b-3 content-header-section">
                <label class="fw-semi-bold dis-b">%%forms_labels.Header%% <span class="lang-tag">(EN)</span></label>
                <textarea name="userMediaAndContent.content.{{lan}}.header" cols="40" rows="3" maxlength="120" placeholder="Advice"></textarea>
              </div>
              <div class="m-b-3 content-subheader-section">
                <label class="fw-semi-bold dis-b">%%forms_labels.Sub-header%% <span class="lang-tag">(EN)</span></label>
                <textarea name="userMediaAndContent.content.{{lan}}.sub_header" cols="40" rows="4" maxlength="300" placeholder="Advice"></textarea>
              </div>
            </fieldset>
          </template>
        </fieldset>
        <!-- Shop -->
        <label class="section-label fs-big m-b-3 dis-b">%%forms_labels.Shop Products%%<input type="checkbox" class="hidden fold-checkbox" /></label>
        <fieldset class="fieldset foldable-section">
          <div class="products-container"></div>
          <button class="button button-green" type="button" onclick="addProduct()">%%buttons.Add Product%%</button>
          <template id="product-template">
            <fieldset class="fieldset product">
              <input name="products.id" type="text" class="hidden" disabled />
              <div class="field product-title m-b-2">
                <label>%%forms_labels.Title%%</label>
                <input name="products.title" type="text" required />
              </div>
              <div class="field product-img m-b-2">
                <label>%%forms_labels.Image%%</label>
                <input name="products.image" type="file" />
              </div>
              <div class="field product-price m-b-2">
                <label>%%forms_labels.Price%%</label>
                <input name="products.price" type="text" />
              </div>
              <div class="field product-desc m-b-2">
                <label>%%forms_labels.Description%%</label>
                <textarea name="products.description" rows="7"></textarea>
              </div>
              <div class="field product-link m-b-2">
                <label>%%forms_labels.Link%%</label>
                <input name="products.link" type="text" />
              </div>
              <button onclick="this.parentNode.remove()" class="button delete-button" type="button">%%buttons.Delete this product%%</button>
            </fieldset>
          </template>
        </fieldset>
        <div class="msg msg-ok hidden" id="msg-changes-saved">
          <p>changes were saved.</p>
        </div>
        <div class="msg msg-error hidden" id="msg-changes-field">
          <p>filed to save changes.</p>
        </div>
        <button id="submitButton1" class="button submit-button" type="button">%%buttons.Save Changes%%</button>
        <button id="submitButton2" class="hidden" type="submit">Submit</button>
      </form>
    </div>
    <script type="text/javascript" src="public/scripts/settings.js"></script>
  </body>
</html>
