<!DOCTYPE html>

<html>
  <!-- TODO Page language and CEO -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="TODO" />
    <meta name="description" content="TODO" />
    <title>Website and appointment booking system for barbers</title>
    <link rel="stylesheet" href="/public/styles/style.css" />
    <link rel="icon" type="image/x-icon" href="/public/favicons/favicon.ico" loading="lazy" />
  </head>
  <body>
    <!-- header -->
    <header>
      <a href="/">
        <img src="/public/logos/logo-no-background.png" alt="logo" width="200px" />
      </a>

      <ul>
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/regist" class="nav-link">Sign&nbspUp</a></li>
        <li class="nav-item"><a href="/pricing" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
      </ul>
    </header>
    <!-- تعريف بسيط مع دعوى للاشتراك -->
    <section id="first-section" class="section">
      <div class="section-content">
        <div id="first-section-row1">
          <p>
            Get your own website with an appointment booking system easily by creating an account. Then easily customize your site as much as you
            want.
          </p>
          <a href="/regist">Sign up</a>
        </div>

        <img id="hero-image" src="/public/images/main-heroimage2.png" alt="logo" />
      </div>
    </section>
    <!-- عرض للميزات -->
    <section class="section"><p>images</p></section>
    <!-- التسعير مع دعوى للاشتراك -->
    <section class="section"><p>Pricing</p></section>
    <!-- footer -->
    <footer class="section"><p>footer</p></footer>
    <script src="/"></script>
  </body>
</html>
