body {
  background-color: var(--clr-gray-bg);
}
.surface {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1.2rem;
  border: 1px solid var(--clr-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dashboard-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.table-wrapper {
  width: 80%;
}
.table {
  width: 100%;
}

.controllers-form {
  display: grid;
  gap: 0.5rem;
  width: 80%;
}

.navigation {
  align-self: flex-start;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.navigation > a {
  background-color: #fff;
}
