body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: var(--clr-gray-bg);
}

.container {
  max-width: 390px;
  padding: 30px;
  background-color: var(--clr-neutral-100);
  border: 1px solid var(--clr-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-container > * {
  padding-bottom: var(--size-500);
}
.form > * {
  padding-bottom: var(--size-300);
}
.field {
  width: 80%;
  min-height: 50px;
  margin: auto;
}
.field > * {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid var(--clr-border);
}
input:focus {
  border-bottom: 2px solid #000;
}
input[type="submit"]:focus {
  border: 2px solid #000;
}

/* .button {
	padding-top: ;
} */
