section {
  padding-bottom: var(--size-700);
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--size-300);
  padding-left: var(--size-300);
  padding-right: var(--size-300);
  gap: var(--size-500);
}
.main-logo {
  z-index: 1;
  height: 100%;
  display: flex;
  place-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-500);
  font-size: var(--font-size-500);
  font-weight: bold;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 7.375rem 1.25rem 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  background-color: var(--clr-neutral-100);
  visibility: hidden;
  opacity: 0;
}
#hamburger-label {
  position: relative;
  z-index: 1;
}
#hamburger-second-label {
  display: none;
}
#hamburger-checkbox:checked ~ .main-nav {
  visibility: visible;
  opacity: 1;
}
#hamburger-checkbox:checked ~ #hamburger-second-label {
  display: unset;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav-button {
  display: none;
}
@media (min-width: 48rem) {
  .main-nav {
    display: flex;
    flex-direction: row;
    gap: var(--size-500);
    font-size: var(--font-size-500);
    font-weight: bold;
    position: static;
    opacity: 1;
    visibility: visible;
    padding: 0;
    box-shadow: none;
  }
  .nav-button {
    display: inline;
  }
  #hamburger-label {
    cursor: pointer;
    display: none;
  }
}
#hamburger-checkbox ~ #hamburger-label > .icon-close {
  display: none;
}
#hamburger-checkbox ~ #hamburger-label > .icon-hamburger {
  display: inline;
}
#hamburger-checkbox:checked ~ #hamburger-label > .icon-close {
  display: inline;
}
#hamburger-checkbox:checked ~ #hamburger-label > .icon-hamburger {
  display: none;
}

/* hero section */
.hero-image-container {
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url(images/hero-image2.webp),url(images/hero-image2.webp); */
  background-size: contain, cover;
}
.hero-msg-con {
  position: relative;
  background-color: var(--clr-primary-700);
  top: -60px;
  opacity: 0.82;
  padding: 15px 30px;
  align-items: flex-start;
  color: white;
}

/* Business Info Section */
.two-columns {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-template-columns: 49% 1px 49%;
  width: min(80%, 600px);
  gap: 0.8rem;
}
.two-columns > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .business-info-section > div {
  align-items: baseline;
}
.business-info-section > div > div {
  width: 50%;

  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 48em) {
  .business-info-section > div > div:not(:last-child) {
    border-right: 1px solid var(--clr-dark-gray);
  }
}
[dir="rtl"] .business-info-section > div > div:not(:last-child) {
  border-left: 1px solid #000;
  border-right: none;
} */

/* Our Services */

/* Appointment Section */
.form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-dark-gray);
  padding: 10px 30px 10px 30px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: min(90%, 450px);
}

.fieldset {
  margin-bottom: 0.5rem;
}
.field {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  gap: 0.25rem;
  margin-top: 5px;
  margin-bottom: 15px;
  /* min-height: 95px; */
}
.field-label {
  font-weight: var(--fw-semi-bold);
}
.field-input {
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 36px;
  padding: 1px 8px 1px;
}
.field-input:focus {
  outline: auto;
}

.field-note {
  /* font-size: var(--font-size-400); */
  font-size: small;
  font-weight: 100;
  color: var(--clr-dark-gray);
}

.submit-button {
  margin: auto;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 1em;
  padding: 0.5em 1.5em;
  background-color: var(--clr-primary-500);
  color: var(--clr-on-accent);
  box-shadow: 0 1em 0.8em -1em var(--clr-primary-700);
}

.submit-buttom:hover,
.submit-buttom:focus-visible {
  background-color: var(--clr-primary-700);
  box-shadow: 0 1.1em 0.8em -1.2em var(--clr-primary-700);
}
/* 
.gradient-border {
  border-width: 1px; 
  border-style: solid; 
  border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 25%,
      rgba(102, 102, 102, 1) 37%,
      rgba(8, 8, 8, 1) 50%,
      rgba(102, 102, 102, 1) 62%,
      rgba(255, 255, 255, 1) 75%
    )
    1; 
} 
*/
/* gallery */

.x-carousel {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  width: min(100%, 65em);
  margin: auto;
  background-color: var(--clr-gray-bg);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);

  gap: 1rem;
  padding: 1.2rem;
  scrollbar-width: none;
}
.x-carousel::-webkit-scrollbar {
  display: none;
}
.x-carousel-img {
  /* height: 300px; */
  width: min(40vw, 310px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* min-width: 90px; */
  /* background-color: aqua; */
  /* border: 1px solid; */
}

/* Shop */

/* .product-card {
  display: grid;
  height: 400px;
  width: fit-content;
  grid-template-rows: 45% 15% 10% 30%;


  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.product-card img {
  border-radius: 8px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-400);
  min-width: 150px;
  max-width: 250px;
  aspect-ratio: 3/4;
  padding: 30px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
} */

.products-container {
  /* display: flex;
  flex-wrap: wrap;
  gap: 1.2rem; */
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  grid-gap: 0.8rem;
  /* grid-template-columns: repeat(3, 1fr); */
}

.product-card {
  /* width: 300px; */
  /* max-height: 485px; */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.product-card .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  gap: 0.5rem;
  height: 100%;
}
.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}

.product-card h3 {
  font-size: var(--fs-h4);
  max-height: calc(var(--fs-h4) * var(--line-height) * 2);
  overflow: hidden;
}

.product-card .price {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.product-card .description {
  font-size: var(--fs-small);
  max-height: calc(var(--fs-small) * var(--line-height) * 3);
  color: #666;
}
.product-card .button {
  display: none;
  align-self: flex-end;
}
.product-card.expanded-card {
  position: fixed; /**/ /**/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 75%;
  max-height: 90vh;
  overflow-y: scroll;
  /* aspect-ratio: 3/5; */
}
.product-card.expanded-card img {
  width: 85%;
  min-height: 70%;
  height: auto;
  align-self: center;

  border-radius: 5px;
}
.product-card.expanded-card .description {
  max-height: unset;
}
.product-card.expanded-card h3 {
  font-size: var(--fs-h4);
  max-height: unset;
  overflow: hidden;
}
.product-card.expanded-card .button {
  display: inline-block;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  text-align: center;

  color: #fff;
  font-size: large;
  line-height: 5vh;
}

.contact-section {
  height: 500px;
}
/*  */

.contact-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-section-container > * {
  padding: 1.2rem;
}
.contact-form-container {
  background-color: var(--clr-gray-bg);
}
.contact-info-container {
}
/* Footer */
footer {
  background-color: var(--clr-gray-bg);
  margin-top: 10px;
  padding-top: 10px;
}
footer .two-columns > div {
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  color: #fafafa;
  font-weight: 100;
  font-size: 0.8rem;
}

.footer-section-2 {
  background-color: #333;

  margin-top: 10px;
}
